<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qwikserve.gui" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        >
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <activity
            android:name="com.example.qwikserve.gui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.OrderMain"
            android:label="@string/title_activity_order_main" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.AddMain"
            android:label="@string/title_activity_add_main" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.AddBurger"
            android:label="@string/title_activity_add_burger" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.AddSides"
            android:label="@string/title_activity_add_sides" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.ReviewOrder"
            android:label="@string/title_activity_review_order" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.AddTopping"
            android:label="@string/title_activity_add_topping" >
        </activity>
        <activity
            android:name="com.example.qwikserve.gui.FinalOrder"
            android:label="@string/title_activity_final_order" >
        </activity>
    </application>

</manifest>
